<p id="notice"><%= notice %></p>

<p>
  <strong>Shortname:</strong>
  <%= @team.shortname %>
</p>

<p>
  <strong>City:</strong>
  <%= @team.city %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @team.conference.title %>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'All Teams', teams_path %>
