<style>div.search{margin-left:10px;}</style>
<p id="notice"><%= notice %></p>

<h1>Players + Coaches</h1>

<table class="table table-striped table-hover"
  data-toggle="table"
  data-search="true"
  data-search-align="left">
  <thead class="thead-dark">
    <tr>
      <th scope="col" data-sortable="true">Name</th>
      <th scope="col" data-sortable="true">Position</th>
      <th scope="col" data-sortable="true">Points</th>
      <th scope="col" data-sortable="true">Rebounds</th>
      <th scope="col" data-sortable="true">Assits</th>
      <th scope="col" data-sortable="true">Minutes</th>
      <th scope="col" data-sortable="true" data-visible="true">Instagram</th>
      <th scope="col" data-sortable="true">Team</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.position %></td>
        <td><%= player.stats.first.ppg %></td>
        <td><%= player.stats.first.rpg %></td>
        <td><%= player.stats.first.apg %></td>
        <td><%= player.stats.first.mpg %></td>
        <td><%= player.instagram_handle %></td>
        <td><%= link_to player.team ? player.team.city : "CITY", player.team %></td>
      </tr>
    <% end %>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= link_to coach.name, coach %></td>
        <td>Coach</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= link_to coach.team ? coach.team.city : "CITY", coach.team%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

