<style>div.search{margin-left:10px;}</style>
<p id="notice"><%= notice %></p>

<h1>Coaches</h1>

<table class="table table-striped table-hover"
  data-toggle="table"
  data-search="true"
  data-search-align="left">
  <thead class="thead-dark">
    <tr>
      <th scope="col" data-sortable="true">First Name</th>
      <th scope="col" data-sortable="true">Last Name</th>
      <th scope="col" data-sortable="true">Year Start</th>
      <th scope="col" data-sortable="true">Team</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.firstname %></td>
        <td><%= coach.lastname %></td>
        <td><%= coach.yearstart %></td>
        <td><%= coach.team.city %></td>
        <td><%= link_to 'Detail View', coach %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %> 
