<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @coach.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @coach.lastname %>
</p>

<p>
  <strong>Year Start:</strong>
  <%= @coach.yearstart %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coach.team.city %>
</p>
<div class="row m-2 mt-5">
  <div class="col-4"><%= link_to 'Home', root_path %></div>
  <div class="col-4"><%= link_to 'All Coaches', coaches_path %></div>
  <div class="col-5"><%= link_to 'Edit Coach', edit_coach_path(@coach) if @is_admin == 'nba' %></div>
</div>
