<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @coach.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @coach.lastname %>
</p>

<p>
  <strong>Yearstart:</strong>
  <%= @coach.yearstart %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coach.team_id %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
