<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @coach.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @coach.lastname %>
</p>

<p>
  <strong>Year Start:</strong>
  <%= @coach.yearstart %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coach.team.city %>
</p>


<%= link_to 'Home', root_path %> |
<%= link_to 'All Coaches', coaches_path %>
