<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @player.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastname %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Team:</strong>
  <%= link_to @player.team.city, @player.team %>
</p>

<p>
  <strong>Twitter Handle:</strong>
  <a href="https://www.twitter.com/<%= @player.twitter_handle%>" > <%= @player.twitter_handle%> </a>
</p>

<p>
  <strong>Number of Twitter Followers:</strong>
  <%= @player.twitter_num_followers %>
</p>

<p>
  <strong>Instagram Handle:</strong>
  <a href="https://www.instagram.com/<%= @player.instagram_handle %>"><%= @player.instagram_handle %> </a>
</p>

<p>
  <strong>Number of Instagram Followers:</strong>
  <%= @player.instagram_num_followers %>
</p>

<p><strong><u>Player Stats</u></strong></p>

<% @player.stats.each do |stat| %>
  <p>
    <strong>Games Played:</strong>
    <%= stat.games_played %>
  </p>

  <p>
    <strong>PPG:</strong>
    <%= stat.ppg %>
  </p>

  <p>
    <strong>APG:</strong>
    <%= stat.apg %>
  </p>

  <p>
    <strong>RPG:</strong>
    <%= stat.rpg %>
  </p>

  <p>
    <strong>MPG:</strong>
    <%= stat.mpg %>
  </p>

  <p>
    <strong>PER:</strong>
    <%= stat.per %>
  </p>

  <p>
    <strong>FG:</strong>
    <%= stat.fg %>
  </p>

  <p>
    <strong>FT:</strong>
    <%= stat.ft %>
  </p>
<% end %>

<p><strong><u>Player Endorsements</u></strong></p>

<% @player.endorsements.each do |endorsement| %>
<p>
  <strong>Brand:</strong>
  <%= endorsement.brand %>
</p>

<p>
  <strong>Endorsement Notes:</strong>
  <%= endorsement.notes %>
</p>
<% end.empty? and begin %>
  <p>No Endorsements Found</p>
<% end %>

<%= link_to 'Home', root_path %> | 
<%= link_to 'Edit Player', edit_player_path(@player) %>

