<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row m-2">
    <h2>Players Details</h2>
  </div>
  <div class="row m-2">
    <div class="col-6 col-md-3 p-1">First Name: <%= @player.firstname %></div>
    <div class="col-6 col-md-3 p-1">Last Name: <%= @player.lastname %></div>
    <div class="col-6 col-md-3 p-1">Position: <%= @player.position %></div>
    <div class="col-6 col-md-3 p-1">Team: <%= link_to @player.team.city, @player.team %></div>
    <div class="col-6 col-md-3 p-1">Twitter: <a href="https://www.twitter.com/<%= @player.twitter_handle%>" > <%= @player.twitter_handle%> </a></div>
    <div class="col-6 col-md-3 p-1">Twitter Followers: <%= @player.twitter_num_followers %></div>
    <div class="col-6 col-md-3 p-1">Instagram: <a href="https://www.instagram.com/<%= @player.instagram_handle %>"><%= @player.instagram_handle %> </a></div>
    <div class="col-6 col-md-3 p-1">Instagram Followers: <%= @player.instagram_num_followers %></div>
  </div>

  <div class="row m-2 mt-4">
    <h3>Players Stats</h3>
  </div>
  <div class="row m-2">
  <% @player.stats.each do |stat| %>
    <div class="col-6 col-md-3 p-1">Games Played: <%= stat.games_played %></div>
    <div class="col-6 col-md-3 p-1">PPG: <%= stat.ppg %></div>
    <div class="col-6 col-md-3 p-1">APG: <%= stat.apg %></div>
    <div class="col-6 col-md-3 p-1">RPG: <%= stat.rpg %></div>
    <div class="col-6 col-md-3 p-1">MPG: <%= stat.mpg %></div>
    <div class="col-6 col-md-3 p-1">PER: <%= stat.per %></div>
    <div class="col-6 col-md-3 p-1">FG: <%= stat.fg %></div>
    <div class="col-6 col-md-3 p-1">FT: <%= stat.ft %></div>
  <% end %>
  </div>

  <div class="row m-2 mt-4">
    <h3>Players Endorsements</h3>
  </div>
  <div class="row m-2">
  <% @player.endorsements.each do |endorsement| %>
    <div class="col-6">Brand:<%= endorsement.brand %></div>
    <div class="col-6">Notes:<%= endorsement.notes %></div>
  <% end.empty? and begin %>
    <div class="col-12">No Endorsements Found</div>
  <% end %>
  </div>
  <div class="row m-2 mt-5">
    <div class="col-6"><%= link_to 'Home', root_path %></div>
    <div class="col-6"><%= link_to 'Edit Player', edit_player_path(@player) if @is_admin == 'nba' %></div>
  </div>
