<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @endorsement.brand %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @endorsement.notes %>
</p>

<p>
  <strong>Player:</strong>
  <%= @endorsement.player_id %>
</p>
<div class="row m-2 mt-5">
  <div class="col-4"><%= link_to 'Home', root_path %></div>
  <div class="col-4"><%= link_to 'All Stats', endorsements_path %></div>
  <div class="col-4"><%= link_to 'Edit', edit_endorsement_path(@endorsement) if @is_admin == 'nba' %></div>
</div>
