<p id="notice"><%= notice %></p>

<p>
  <strong>Games Played:</strong>
  <%= @stat.games_played %>
</p>

<p>
  <strong>PPG:</strong>
  <%= @stat.ppg %>
</p>

<p>
  <strong>APG:</strong>
  <%= @stat.apg %>
</p>

<p>
  <strong>RPG:</strong>
  <%= @stat.rpg %>
</p>

<p>
  <strong>MPG:</strong>
  <%= @stat.mpg %>
</p>

<p>
  <strong>PER:</strong>
  <%= @stat.per %>
</p>

<p>
  <strong>FG:</strong>
  <%= @stat.fg %>
</p>

<p>
  <strong>FT:</strong>
  <%= @stat.ft %>
</p>

<p>
  <strong>Player ID:</strong>
  <%= @stat.player_id %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
